@font-face {
    font-family:Marcellus; /* Гарнитура шрифта */
    src: url(fonts/Marcellus-Regular.ttf); /* Путь к файлу со шрифтом */
    font-family:Marcellus; /* Гарнитура шрифта */
    src: url(fonts/Mulish-Bold.ttf); /* Путь к файлу со шрифтом */
    src: url(fonts/Mulish-Regular.ttf); /* Путь к файлу со шрифтом */

}

*, img,html, h1, h2{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #fff;
}
a{
    text-decoration: none;
}

body{
    font-family: Mulish;
    background: #000000;
    color: #fff;
}

.conteiner{
    max-width: 1450px;
    margin: 0 auto;
}
h1{
    font-family: Marcellus;
    font-size: 80px;
    line-height: 70px;
    /* color: #FFFFFF; */
    font-weight: 400;
}
h2{
    font-size: 28px;
    line-height: 20px;
    margin: 50px 0;
    font-family: Mulish;
    font-weight: 900;
    margin-left: 15px;
}

h2::before{
    content: url(img/after-h2.png) ;
    position: absolute;
    margin-top: -7px;
    margin-left: -15px;
}

p{
font-size: 18px;
line-height: 28px;
color: #C2C2C2;
}

.burger-menu{
    display: none;
    cursor: pointer;
}

.line{
    width: 35px;
    height: 3px;
    background: #fff;
}

.line-2{
    margin: 10px 0 10px 0;
}


.header_inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0;
}

.top-nav-list{
    display: flex;
}

.top-nav-item{
    margin-left: 55px;
    list-style-type: none; 
}

.top-nav-item:first-child{
    margin-left: 0px;
}
.top-nav-item a{
    font-size: 16px;
    line-height: 20px;  
    color: #FFFFFF;    
    opacity: 0.5;
    text-decoration: none;  
}

.top-nav-item a:hover {
    color: #FFFFFF;
    opacity: 1;
    border-bottom: solid 2px #326CFF;
}

.top-icon-item{
    margin-left: 75px;
}

.top-icon-item:first-child{
    margin-left: 0px;
}

.slide_inner{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: center;

}
.slide-left{
    max-width: 560px;
}

.slide-richt-img{
    max-width: 870px;
}

.film_charakteristik{
    display: flex;
    font-weight: 800;
    font-size: 16px;
    line-height: 10px;
    color: #FFFFFF;
    font-family: Mulish;
    margin: 25px 0;
    align-items: center;
    height: 60px;
    position: relative;
}
.film_charakteristik-item{
    margin-right: 20px;
}

.film_charakteristik-item:last-child{
    margin-left: 20px;
}

.star{
    height: 15px;
}

.border{
    border-radius: 50px;
    position: relative;
    border: 10px solid transparent;
	background: #000; 
	background-clip: padding-box;
} 
.border:after {
	content:'';
	position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    background: linear-gradient(316.53deg, #26FFF2 13.2%, #326CFF 71.54%);
	border-radius: 50px;
    z-index: -1;
}


.border p{
    margin: 5px 15px;
    color:#fff;
}

.film_description{
    margin-bottom: 30px;
}

.slide-left-button-list{
    display: flex;
    flex-wrap: wrap;
}

.slide-left-button-item img{
    height: 15px;
    margin-right: 15px;
}

.slide-left-button-item p{
    padding: 15px 30px;
    border-radius: 100px;
}

.watch-gradient{
    margin-right: 30px;
    background: linear-gradient(316.53deg, #26FFF2 13.2%, #326CFF 71.54%);
    box-shadow: 0px 4px 50px rgba(50, 108, 255, 0.5);
    color: #fff;
}

.button-inf{
    background: #FFFFFF;
    color: #323232;
}


.trending-list{
    display: flex;
    flex-wrap: wrap;
}
.film-title{
   border-radius: 20px;
   margin-right: 40px;
   max-width: 205px;
   margin-top: 20px;
}

 .film-title:last-child{
    margin-right: 0;
 } 

.see-more{
    max-width: 160px;
    font-size: 14px;
    margin-top: 55px;
}
.genres_list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.genres_inner{
    margin-bottom: 80px;
}
.genres-img{
    height: 80px;
    margin-bottom: 10px;
}
.genres-item{
border-radius: 20px;
width: 340px;
height: 200px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}


.genres-text{
font-size: 28px;
line-height: 20px;
font-weight: bold;}

.romance{
    background: linear-gradient(109.31deg, #FD093F 2.4%, #F383F1 100%)
}
.drama{
    background: linear-gradient(114.5deg, #0FFFDA 2.22%, #3CDB77 68.84%);
}
.historical{
    background: linear-gradient(109.31deg, #B936FF 2.4%, #57DEDA 100%);
}
.action{
    background: linear-gradient(109.31deg, #FD093F 2.4%, #FB1378 2.41%, #FCCB1A 100%);
}
.sci-fi{
    background: linear-gradient(109.31deg, #FF6472 2.4%, #FDA75D 100%);
}
.horror{
    background: linear-gradient(110.16deg, #13547A 2.37%, #80D0C7 96.77%);
}
.comedy{
background: linear-gradient(109.93deg, #FFF77B 2.37%, #FFBF42 50%);
}
.documentary{
    background: linear-gradient(109.31deg, #1FA2FF 2.4%, #1FA2FF 2.41%, #1F535C 97.46%);
}

.actor-list{
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    margin-bottom: 100px;
    justify-content: center;
}
.actor-img{
    border-radius: 100%;
    max-width: 190px;
    max-height:190px;
}
.actor-name{
    font-size: 18px;
    line-height: 20px;
    font-family: Mulish;
    margin-top: 20px;
}
.actor-item{
    text-align: center;
}
.banners_inner{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
/* .banner_left{
    width: 50%;
} */

.banner-right{
    width: 50%;
    background: linear-gradient(87.02deg, #0D1A73 29.67%, #000000 70.52%);
    box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.1);
    border-radius: 20px;}
.banner-right{
    text-align: center;
    padding-top: 70px;
    width: 725px;
    height: 340px;
}
.banner-right-text{
    font-size: 64px;
    line-height: 20px;
    font-family: Mulish;
    text-transform: capitalize;
    margin-top: 30px;
}
.banners_inner{
    margin-bottom: 70px;
}
.banner_unter{
width: 1224px;
height: 270px;
background: url(img/backgraund-banner.jpg);
margin: 0 auto;
display: flex;
align-items: center;
margin-bottom: 120px;
}
.banner_unter-description{
font-style: normal;
font-weight: bold;
font-size: 64px;
line-height: 100%;
text-transform: capitalize;
color: #FFFFFF;
margin-left: 57px;
margin-right: 100px;
}
.footer{
    background: #101012;
    padding: 70px 0;
}

.footer_inner{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.footer-list-item{
    list-style-type: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    color: #C2C2C2;
    font-family: Mulish;
    margin-bottom: 20px;
}

.footer-list-item a:hover{
    color: #FFFFFF;
    opacity: 1;
    border-bottom: solid 2px #326CFF;
} 



@media(max-width:1450px) {
    .slide-richt{
        margin-top: 20px;
    }
    .trending-list {
      justify-content: center;
    }
    .film-title:last-child {
     margin-right: 40px;;
    }
}

@media(max-width:1250px) {
    .slide_inner{
        flex-wrap: wrap;
        justify-content: center;   
    }
    .see-more{
    margin: 20px auto;}

    .banner_unter{
        width: 100%;
        flex-wrap: wrap;
    }
}


/* @media(max-width:900px) {
justify-content: content: ;
} */

@media(max-width:800px) {
    .top-icon-item{
        margin-left: 20px;
    }
    h2{
        text-align: center;
    }
    .banner_unter-description{
        font-size: 40px;
    }

}

@media(max-width:660px) {
    .top-nav-list {
        display: block;
        position: absolute;
        top: 100px;
        left: 0;
        right: 0;
        background-color: #000;
        text-align: center;
        padding: 20px 0;
        transform: translateY(-500px);
        transition: all .5s;
    }
    .top-nav-item a {
        font-size: 20px;
        line-height: 33px;
    }

    .top-nav-list-akviv{
        transform:translateY(0);}
   
    .top-nav-item{
    margin-left:0px  }

    .burger-menu{
        display: block; }

    h1{
        font-size: 60px;
        text-align: center;}

    .slide-left-button-list{
        justify-content: center; }

    .slide-richt-img{
        max-width: 700px; }

    .footer_inner{
        flex-direction: column;
        text-align: center; }
}

@media(max-width:450px) {

    h1{
        font-size: 40px;
        text-align: center;
    }
    .slide-richt-img{
        max-width: 500px;
    }
    .slide-left-button-item{
        margin-top: 20px;
    }
    .banner-right{
        display: none;
    }
    
    .footer_item{
        margin-bottom: 20px;
    }
    .banner_unter-description{
        font-size: 20px;
    }
}